body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 100px;
}

.box {
    border: 1px solid #ccc;
    padding: 20px;
    width: 45%;
    box-sizing: border-box;
    border-radius: 10px;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-box input {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.input-box .convert-btn {
    margin-top: 10px;
    width: 30%;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-box .convert-btn:hover {
    opacity: 0.8;
}

.hex-box {
    display: flex;
    flex-direction: column;
}

.hex-box input {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.buttons button.copy-btn {
    background-color: #28a745;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button.copy-btn:hover {
    opacity: 0.8;
}